.columns.btn-group
  %button{ :class => 'btn btn-default dropdown-toggle', :'data-toggle' => 'dropdown'}
    Columns - 
    %span.current_value
    %span.caret
  %ul{ :class => 'dropdown-menu' }
    %li
      %a{ :href => '#', :name => '1' } 1
    %li
      %a{ :href => '#', :name => '2' } 2
    %li
      %a{ :href => '#', :name => '3' } 3
    %li
      %a{ :href => '#', :name => '4' } 4
    %li
      %a{ :href => '#', :name => '6' } 6
    