.header
  %h1 Dashboards
  %form{ :class => "search", :action => "" }
    %i.reset-search.glyphicon-remove-circle
    %input{ :class => "search-query col-md-2", :type => "text", :name => "search", :placeholder => "Search dashboards" }
.dashboards
%script{ :type => "text/javascript", :src => "/js/list-dashboards.js" }
